* {
  font-family: "Spoqa Han Sans Neo", "SpoqaHanSansNeo", "sans-serif" !important;
}

.wrapper {
  width: 100vw;
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background: white;
}

@media (prefers-color-scheme: dark) {
  .wrapper {
    background: #27272a;
  }
}

header {
  width: 100%;
  flex: none;
  display: flex;
  align-items: center;
  background: white;
  box-shadow: 0 0 48px 0 rgba(0, 0, 0, 0.16);
}

@media (prefers-color-scheme: dark) {
  header {
    background: #27272a;
  }
}

.logo path {
  fill: black;
}

@media (prefers-color-scheme: dark) {
  .logo path {
    fill: white;
  }
}

.jumbotron {
  flex: 1 1 0%;
  display: flex;
}

.content {
  display: flex;
  flex-direction: column;
  line-height: 1.5;
  color: black;
}

.content > h1 {
  font-weight: 700;
  font-size: 3vw;
  line-height: 1.25;
}

@media (prefers-color-scheme: dark) {
  .content {
    color: white;
  }
}

.block {
  background-image: url(./block.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  transform: translateX(4.5vw);
}

@media (prefers-color-scheme: dark) {
  .block {
    background-image: url(./block_black.png);
  }
}

footer {
  flex: none;
  display: flex;
  color: #71717a;
}

@media (prefers-color-scheme: dark) {
  footer {
    color: #d4d4d8;
  }
}

.footer-info {
  font-size: 1vw;
}

.footer-region {
  font-size: 0.875vw;
}

.footer-region > span ~ span {
  padding-left: 1.5vw;
}

@media (max-width: 640px) {
  header {
    height: 16vw;
    padding: 0 4vw;
  }

  .logo {
    width: 20vw;
    height: auto;
  }

  .jumbotron {
    flex-direction: column;
    justify-content: center;
    padding: 4vw;
  }

  .content {
    order: 9999;
    text-align: center;
    font-size: 3vw;
  }

  .content > h1 {
    font-size: 8vw;
    line-height: 1.25;
    margin-bottom: 2vw;
  }

  .block {
    width: 50vw;
    height: 50vw;
    transform: translateX(10vw);
    margin: 1.5vw auto;
  }

  footer {
    flex-direction: column;
    align-items: center;
    padding: 4vw;
  }

  footer > div ~ div {
    margin-top: 3vw;
  }

  .footer-info {
    font-size: 3vw;
  }

  .footer-region {
    font-size: 3vw;
  }

  .footer-region > span ~ span {
    padding-left: 2vw;
  }
}

@media (min-width: 641px) and (max-width: 1024px) {
  header {
    height: 8vw;
    padding: 0 4vw;
  }

  .logo {
    width: 10vw;
    height: auto;
  }

  .jumbotron {
    flex-direction: column;
    justify-content: center;
    padding: 4vw;
  }

  .content {
    order: 9999;
    text-align: center;
    max-width: 60vw;
    margin: 0 auto;
    font-size: 2vw;
  }

  .content > h1 {
    font-size: 5vw;
    line-height: 1.375;
    margin-bottom: 2vw;
  }

  .block {
    width: 40vw;
    height: 40vw;
    transform: translateX(7vw);
    margin: 0 auto;
  }

  footer {
    align-items: center;
    justify-content: space-between;
    padding: 4vw;
  }

  .footer-info {
    font-size: 2vw;
  }

  .footer-region {
    font-size: 2vw;
  }

  .footer-region > span ~ span {
    padding-left: 2vw;
  }
}

@media (min-width: 1025px) {
  header {
    height: 6vw;
    padding: 0 4vw;
  }

  .logo {
    width: 10vw;
    height: auto;
  }

  .jumbotron {
    flex-direction: row;
    align-items: stretch;
    padding: 4vw;
    gap: 4vw;
  }

  .content {
    flex: 1 1 0%;
    justify-content: center;
    transform: translateY(8vw);
    text-align: left;
    font-size: 1.25vw;
  }

  .content > h1 {
    font-size: 2.5vw;
    line-height: 1.25;
    margin-bottom: 1vw;
  }

  .block {
    flex: 1 1 0%;
    min-height: 26vw;
    background-position: center;
    transform: translateX(8vw) translateY(3vw);
  }

  footer {
    align-items: center;
    justify-content: space-between;
    padding: 4vw;
  }
  .footer-info {
    font-size: 1vw;
  }

  .footer-region {
    font-size: 1vw;
  }
}
